<div class="container mt-5">
    <h2>Lista de Expertos</h2>
    <button class="btn btn-primary mb-3" routerLink="/admin/registrar-experto">Registrar Experto</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Especialidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experto of expertos">
          <td>{{ experto.id }}</td>
          <td>{{ experto.nombre }}</td>
          <td>{{ experto.email }}</td>
          <td>{{ experto.especialidad.nombre }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarExperto(experto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>