<div class="container mt-5">
    <h2>Gestionar Especialidades</h2>
  
    <!-- Formulario para agregar una nueva especialidad -->
    <h3>Agregar Nueva Especialidad</h3>
    <div>
      <input type="text" [(ngModel)]="nuevaEspecialidad.nombre" placeholder="Nombre" class="form-control">
      <input type="text" [(ngModel)]="nuevaEspecialidad.codigo" placeholder="Código" class="form-control mt-2">
      <button (click)="agregarEspecialidad()" class="btn btn-success mt-2">Agregar</button>
    </div>
  
    <hr>
  
    <!-- Lista de especialidades con opciones para editar y eliminar -->
    <h3>Lista de Especialidades</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Código</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especialidad of especialidades">
            <td>{{ especialidad.idEspecialidad }}</td>
          <td>{{ especialidad.nombre }}</td>
          <td>{{ especialidad.codigo }}</td>
          <td>
            <button (click)="editarEspecialidad(especialidad)" class="btn btn-primary btn-sm">Editar</button>
            <button (click)="eliminarEspecialidad(especialidad.idEspecialidad)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Formulario de edición -->
    <div *ngIf="especialidadEditando">
      <h3>Editar Especialidad</h3>
      <input type="text" [(ngModel)]="especialidadEditando.nombre" class="form-control">
      <input type="text" [(ngModel)]="especialidadEditando.codigo" class="form-control mt-2">
      <button (click)="actualizarEspecialidad()" class="btn btn-warning mt-2">Actualizar</button>
    </div>
  </div>